<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.henallux.dolphin_crenier_veys" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ConnexionActivity"
            android:label="@string/title_activity_connexion" >
        </activity>
        <activity
            android:name=".view.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name=".view.AjoutActivity"
            android:label="@string/title_activity_ajout" >
        </activity>
        <activity
            android:name=".view.SuppActivity"
            android:label="@string/title_activity_supp" >
        </activity>
        <activity
            android:name=".view.RechActivity"
            android:label="@string/title_activity_rech" >
        </activity>
        <activity
            android:name=".view.TotKMActivity"
            android:label="@string/title_activity_tot_km" >
        </activity>
        <activity
            android:name=".view.TotSalActivity"
            android:label="@string/title_activity_tot_sal" >
        </activity>
        <activity
            android:name=".view.StatPiscineActivity"
            android:label="@string/title_activity_stat_piscine" >
        </activity>
        <activity
            android:name=".view.StatDivisionActivity"
            android:label="@string/title_activity_stat_division" >
        </activity>
        <activity
            android:name=".view.ResAjoutActivity"
            android:label="@string/title_activity_res_ajout" >
        </activity>
        <activity
            android:name=".view.ListSuppActivity"
            android:label="@string/title_activity_list_supp" >
        </activity>
        <activity
            android:name=".view.ResRechActivity"
            android:label="@string/title_activity_res_rech" >
        </activity>
    </application>

</manifest>
